# Application
APP_NAME=Cosmetic Shop API
DB_USER=cosmeticdb
DB_PASSWORD=cosmeticdb123!
COMPOSE_PROJECT_NAME=cosmetic
APP_VERSION=1.0.0
APP_DEBUG=true

# Security
SECRET_KEY=change-this-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=60
ALGORITHM=HS256

# Database (use docker service name for host)
MONGODB_URI=mongodb://mongodb:27017/cosmetic_shop_db
MONGODB_DB=cosmetic_shop_db

# Server
HOST=0.0.0.0
PORT=8000