venv/
.venv/
app/modules/uploads/
.env.docker
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.pytest_cache
articles
politics
result
.env
celerybeat-schedule
fb_state.json
supervisord.log
apps/supervisord.log
*.log

# Uploaded files
static/images/products/*
!static/images/products/.gitkeep