.venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
.pytest_cache
articles
politics
result
.env
celerybeat-schedule
fb_state.json
supervisord.log
apps/supervisord.log
*.log


app/modules/uploads/
# Uploaded files
static/images/products/*
!static/images/products/.gitkeep